<div class="main-wrapper bg-img">
  <div class="container">
    <h1 class="table-title">Stock list</h1>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control" placeholder="Type to filter the stock column..."
        (keyup)="updateFilter($event)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="table-scroll">
      <div class="table-wrapper">
        <ngx-datatable class="material" [rows]="rows" [columnMode]="ColumnMode.force" [columns]="columns"
          [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [selected]="selected"
          [selectionType]="SelectionType.single" (select)="onSelect($event.row)">
        </ngx-datatable>


      </div> <!-- /.table-scroll -->
    </div> <!-- /.table-wrapoer -->

    <h1 class="table-title">Values</h1>
    <div class="table-scroll">
      <div class="table-wrapper">

        <ngx-datatable class="material" [rows]="rowsValue" [columnMode]="ColumnMode.force" [columns]="columnsValue"
          [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5">
        </ngx-datatable>

        <div class="mt-n1 " style="padding-top:2% ;" >
        <button class="btn btn-primary" title="Download JSON" (click)="generateUrl()" [disabled]="!isGenerated"> Export to JSON</button>

      </div> <!-- /.table-scroll -->

    </div> <!-- /.table-wrapoer -->

  </div> <!-- /.container -->


</div> <!-- /.main-container -->


